@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

div{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.text{
    padding: 5px 15px;
    height: 45px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.662);
    outline: none;
    font-size: 1.1em;
    color:hsl(235, 18%, 26%);
}
.text:focus{
    border: 1px solid black;
}
#email{
margin-bottom: 5px;
margin-left: 0px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
color:hsl(234, 29%, 20%);
font-size: 0.9em;

}

.submit{
    background-color: hsl(234, 29%, 20%);
    color:hsl(0, 0%, 100%);
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.submit:hover{
    background-color: hsl(234, 32%, 28%);
}
#error{
    color: red;
    background-color: rgba(255, 0, 0, 0.271);
    margin: 10px 10px;
    padding: 5px 20px;
}
.sucess{
    border: 1px solid rgba(0, 0, 0, 0.512);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.254);
}
.sucess img{
    width: 3vw;
    margin-left: 5vh;
}

.sucess h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin:20px 0px 20px 50px;
}

.sucess p{
    color: hsl(234, 29%, 20%);;
    margin-bottom: 200px;
    text-align: left;
    width: 18vw;
}

.sucess button{
    
        background-color: hsl(234, 29%, 20%);
        color:hsl(0, 0%, 100%);
        height: 50px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: 0.5s;
    }

    .sucess button:hover{       
         background-color: hsl(234, 32%, 28%);
    }

    @media (min-width:1330px){
        .sucess{
            width: 20vw;
        
        
        }
    }

    @media (min-width:800px) and (max-width: 1329px){
        .sucess{
            width: 40vw;
        }
        .sucess p{
            width: 40vw;
        }
    }

    @media (max-width:800px) and (min-width: 500px){
        .sucess{
            width: 60vw;
        }
        .sucess p {
            width: 40vw;
        }
    }